/* Custom Stylesheet */
/**
 * Use this file to override files so you can update
 * the core files in the future
 *
 * Made By Us
 */
.speech-bubble-you {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	padding: 10px;
	float: left;
}

.speech-bubble-you:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.speech-bubble-me {
	position: relative;
	background: #FFFFFF;
	border-radius: .4em;
	padding: 10px;
	float: right;
}

.speech-bubble-me:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #FFFFFF;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.hexa-icon {
	font-weight: bolder;
	font-size: 25px;
}

.opacity-m {
	opacity: 0.5;
}

.custom-background {
	background-color: #e8eaf6;
}

.custom-primary-color {
	background-color: #1a237e;
	opacity: 0.9;
}

.box-color {
	background-color: #e8eaf6;
	color: #1a237e;
}

.i-box-color {
	background-color: #1a237e;
	color: #e8eaf6;
}

.full-width {
	width: 100%;
}

.justificado {
	text-align: justify;
}

.img-baixo-brilho {
	filter: brightness(70%);
}

.top-padding {
	padding-top: 32x;
}

/* Parallax Template Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
nav ul a, nav .brand-logo {
	color: #e8eaf6;
}

p {
	line-height: 2rem;
}

.sidenav-trigger {
	color: #e8eaf6;
	opacity: 0.95;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width : 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width : 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

/* Adiciona Label no menu  */
.mobile-fab-tip {
	position: fixed;
	right: 85px;
	padding: 0px 0.5rem;
	text-align: right;
	border-radius: 2px;
	width: auto;
}